In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Punta Arenas,CL,2021-10-31 19:14:15,-53.1500,-70.9167,57.31,41,0,8.05
1,1,Port Alfred,ZA,2021-10-31 19:16:14,-33.5906,26.8910,67.50,84,100,17.65
2,2,Avarua,CK,2021-10-31 19:16:25,-21.2078,-159.7750,75.25,69,90,9.22
3,3,Atuona,PF,2021-10-31 19:13:33,-9.8000,-139.0333,79.05,78,8,20.76
4,4,Ushuaia,AR,2021-10-31 19:15:49,-54.8000,-68.3000,56.86,38,0,0.00

In [3]:
#Get the data types.
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Cannot have a negative as a max temp due to weight function in heatmap_layer, so remove them 
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
    
#if using this code, use weights=temps in heatmap_layer()

In [6]:
# Heatmap of temperature

# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [24]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [1]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

NameError: name 'city_data_df' is not defined

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 75

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
9,9,Rikitea,PF,2021-10-31 19:15:55,-23.1203,-134.9692,74.16,86,77,11.18
13,13,Mackay,AU,2021-10-31 19:16:39,-21.1500,149.2000,74.68,80,99,19.28
18,18,Saint-Philippe,RE,2021-10-31 19:12:41,-21.3585,55.7679,71.19,84,26,8.23
21,21,Antalaha,MG,2021-10-31 19:16:42,-14.9003,50.2788,72.97,90,6,3.74
23,23,Tabora,TZ,2021-10-31 19:16:43,-5.0167,32.8000,71.10,70,99,6.69
24,24,Poum,NC,2021-10-31 19:16:43,-20.2333,164.0167,74.61,68,6,15.30
25,25,Bambous Virieux,MU,2021-10-31 19:12:24,-20.3428,57.7575,73.22,83,75,3.44
39,39,Arraial Do Cabo,BR,2021-10-31 19:15:44,-22.9661,-42.0278,73.36,94,75,10.36
46,46,Mpika,ZM,2021-10-31 19:16:51,-11.8343,31.4529,74.53,32,58,3.38
50,50,Luwingu,ZM,2021-10-31 19:16:53,-10.2621,29.9271,72.70,57,95,8.84

In [11]:
preferred_cities_df.count()

City_ID       60
City          60
Country       59
Date          60
Lat           60
Lng           60
Max Temp      60
Humidity      60
Cloudiness    60
Wind Speed    60
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

               City Country  Max Temp      Lat       Lng Hotel Name
9           Rikitea      PF     74.16 -23.1203 -134.9692
13           Mackay      AU     74.68 -21.1500  149.2000
18   Saint-Philippe      RE     71.19 -21.3585   55.7679
21         Antalaha      MG     72.97 -14.9003   50.2788
23           Tabora      TZ     71.10  -5.0167   32.8000
24             Poum      NC     74.61 -20.2333  164.0167
25  Bambous Virieux      MU     73.22 -20.3428   57.7575
39  Arraial Do Cabo      BR     73.36 -22.9661  -42.0278
46            Mpika      ZM     74.53 -11.8343   31.4529
50          Luwingu      ZM     72.70 -10.2621   29.9271

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "types": "lodging",
    "key": g_key
}

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
# Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
9,Rikitea,PF,74.16,-23.1203,-134.9692,People ThankYou
13,Mackay,AU,74.68,-21.1500,149.2000,International Lodge Motel
18,Saint-Philippe,RE,71.19,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
21,Antalaha,MG,72.97,-14.9003,50.2788,Hotel Vitasoa
23,Tabora,TZ,71.10,-5.0167,32.8000,Barcelona Lodge
24,Poum,NC,74.61,-20.2333,164.0167,Gîte kajeon
25,Bambous Virieux,MU,73.22,-20.3428,57.7575,Casa Tia Villa
39,Arraial Do Cabo,BR,73.36,-22.9661,-42.0278,Pousada Porto Praia
46,Mpika,ZM,74.53,-11.8343,31.4529,Melodies Lodge
50,Luwingu,ZM,72.70,-10.2621,29.9271,"MR.C SIMON CHABALA (Maje, Home Place)"

In [44]:
# Add a heatmap of temperature for the vacation spots.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp, dissipating=False,
             max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [45]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [16]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [17]:
# Add a heatmap of temperature for the vacation spots and a pop-up marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))